@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
    background-size: cover;

}
::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}


a{
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
:hover {
    color: black;
    background-color: rgba(255, 0, 0, 0.685);
    transition: 0.7s;
}